.search-popup {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 694px;
  border-radius: 20px;
  outline: 1px solid #E1E1E3;
  margin-top: 5px;
  overflow: hidden;
  background-color: white;
}

.search-popup-section-name {
  padding: 18 0 0 25px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}

.content > section {
  padding-top: 15px;
}

.content > section > span {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}
